#fejlec{
    background-color: #939F5C;
    height: 7vw;
    text-align: center;
    
}


.fejlec_szoveg{
    font-family: 'Roboto', sans-serif;
    font-variant: small-caps;
    font-size: 45pt;
    color: #BBCE8A;
}

.navbar{
    background-color: #939F5C;
    padding: 15px;
    text-align: center;
    font-size: 15pt;
}

.nav-item{
    margin: 0px 35px;
}

svg{
    position: relative;
    top: 27.5%;
    height: 50px;
    color: rgba(187, 206, 138, 1);
}
.nav-link svg{
    height: 35px;
}

.nav-link svg:hover{
    color: rgba(187, 206, 138, .6);
}

.carousel-inner{
    margin: 0%;
}

.carouselPictures{
    margin: none;
}

.carousel_szoveg{
    font-size: 25pt;
    font-family: 'Roboto', sans-serif;
    background-color: rgba(147, 159, 92, 0.7);
    width: 40%;
    text-align: center;
    margin: 0 auto;
}





#tartalom{
    color: #E2F9B8;
    background-color: #939F5C;
}

.szoveg{
    margin: 15px 0px;
}

.címsor{
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-variant: small-caps;
    text-decoration: underline solid #E2F9B8;
}
.bekezdes{
    font-family: 'Roboto', sans-serif;
    text-align: center;
    font-size: large;
    margin: 30px 15px;
    /* padding: 25px 15px; */
}

.tartalom1_kep{
    width: 100%;
    border: #BBCE8A solid 2px;
}

.kepek_fooldal{
    text-align: right;
}

.főcím_szöveg{
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-variant: small-caps;
    font-size: 40pt;
    color: #273B09;
    text-decoration: underline solid #273B09;
    margin-bottom: 5px;
    margin-top: 18px;
}

.főcím{
    height: 100px;
    background-color: white;
}

.hely{
    height: 60px;
    background-color: white;
}

.footer{
    background-color: #939F5C;
    text-align: center;
    font-size: 14pt;
    height: 60px;
}

.footer_szoveg{
    font-family: 'Roboto', sans-serif;
    color: #E2F9B8;
}

#btn-back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
    background-color: rgba(39, 48, 27, 0.7);
  }
