#fejlec{
    background-color: #99a68bff;
    height: 7vw;
    text-align: center;
    
}


.fejlec_szoveg{
    font-family: 'Roboto', sans-serif;
    font-variant: small-caps;
    font-size: 45pt;
    color: #66635B;
}

.navbar{
    background-color: #99a68bff;
    padding: 15px;
    text-align: center;
    font-size: 15pt;
}

.nav-item{
    margin: 0px 35px;
}

svg{
    position: relative;
    top: 27.5%;
    height: 50px;
    color: rgba(102, 99, 91, 1);
}
.nav-link svg{
    height: 35px;
}

.nav-link svg:hover{
    color: rgba(102, 99, 91, .6);
}

.carousel-inner{
    margin: 0%;
}

.carouselPictures{
    margin: none;
}

/* .carousel_szoveg{
    font-size: 25pt;
    font-family: 'Roboto', sans-serif;
    background-color: rgba(147, 159, 92, 0.7);
    width: 40%;
    text-align: center;
    margin: 0 auto;
} */





#tartalom{
    color: #66635B;
    background-color: #99a68bff;
}

.szoveg{
    margin: 15px 0px;
}

.címsor{
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-variant: small-caps;
    text-decoration: underline solid #66635B;
}
.bekezdes{
    font-family: 'Roboto', sans-serif;
    text-align: center;
    font-size: large;
    margin: 30px 15px;
    /* padding: 25px 15px; */
}

.tartalom1_kep{
    width: 100%;
    border: #66635B solid 2px;
}

.kepek_fooldal{
    text-align: right;
}

.főcím_szöveg{
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-variant: small-caps;
    font-size: 40pt;
    color: #273B09;
    text-decoration: underline solid #273B09;
    margin-bottom: 5px;
    margin-top: 18px;
}

.főcím{
    height: 100px;
    background-color: white;
}

.hely{
    height: 60px;
    background-color: white;
}

.footer{
    background-color: #99a68bff;
    text-align: center;
    font-size: 14pt;
    height: 60px;
}

.footer_szoveg{
    font-family: 'Roboto', sans-serif;
    color: #66635B;
}

#btn-back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
    background-color: rgba(39, 48, 27, 0.7);
  }

  #btn-back-to-top svg{
    color: #273B09;
  }

  .oldal_neve{
      
      font-family: 'Roboto', sans-serif;
      
  }

  .valaszto{
      text-align: center;
      height: 150px;
      font-size: 60pt;
      padding: 5px;
      color: #66635B;
      font-variant: small-caps;
  }

  .nemaktiv{
    color: rgba(102, 99, 91, .6);
  }

