#fejlec{
    background-color: #99a68bff;
    height: 7vw;
    text-align: center;
    
}


.fejlec_szoveg{
    font-family: 'Roboto', sans-serif;
    font-variant: small-caps;
    font-size: 45pt;
    color: #66635B;
}

.navbar{
    background-color: #99a68bff;
    padding: 15px;
    text-align: center;
    font-size: 15pt;
}

.nav-item{
    margin: 0px 35px;
}

svg{
    position: relative;
    top: 27.5%;
    height: 50px;
    color: rgba(102, 99, 91, 1);
}
.nav-link svg{
    height: 35px;
}

.nav-link svg:hover{
    color: rgba(102, 99, 91, .6);
}

.carousel-inner{
    margin: 0%;
}

.carouselPictures{
    margin: none;
}

/* .carousel_szoveg{
    font-size: 25pt;
    font-family: 'Roboto', sans-serif;
    background-color: rgba(147, 159, 92, 0.7);
    width: 40%;
    text-align: center;
    margin: 0 auto;
} */





#tartalom{
    color: #66635B;
    background-color: #99a68bff;
}

.szoveg{
    margin: 15px 0px;
}

.címsor{
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-variant: small-caps;
    text-decoration: underline solid #66635B;
}
.bekezdes{
    font-family: 'Roboto', sans-serif;
    text-align: center;
    font-size: large;
    margin: 30px 15px;
    /* padding: 25px 15px; */
}

.tartalom1_kep{
    width: 100%;
    border: #66635B solid 2px;
}

.kepek_fooldal{
    text-align: right;
}

.főcím_szöveg{
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-variant: small-caps;
    font-size: 40pt;
    color: #66635B;
    text-decoration: underline solid #66635B;
    margin-bottom: 5px;
    margin-top: 18px;
}

.főcím{
    height: 100px;
    background-color: white;
}

.hely{
    height: 60px;
    background-color: white;
}

.footer{
    background-color: rgba(153, 166, 139);
    text-align: center;
    font-size: 14pt;
    height: 60px;
}

.footer_szoveg{
    font-family: 'Roboto', sans-serif;
    color: #66635B;
}

#btn-back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
    background-color: rgba(153, 166, 139, .7);
    border: #66635B solid 2px;
  }

  #btn-back-to-top svg{
    color: #66635B;
  }

  .oldal_neve{
      
      font-family: 'Roboto', sans-serif;
      
  }

  .valaszto{
      text-align: center;
      height: 150px;
      font-size: 60pt;
      padding: 5px;
      color: #66635B;
      font-variant: small-caps;
  }
  

  #btn-back-to-top:hover {
    background-color: rgba(102, 99, 91, .8);
  }

  #btn-back-to-top:hover svg{
    color: rgba(153, 166, 139, .7);
  }
  


  
  .árcucc{
    color: #fff;
    background: #212121;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    padding: 0 0 30px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    margin-top: 2%;
}
.árcucc .árcucc-header{
    background: linear-gradient(to right, #BF557B, #8B2D6A);
    padding: 35px 10px 55px;
}
.árcucc .price-value .ár{
    font-size: 60px;
    font-weight: 700;
    line-height: 60px;
    display: inline-block;
}
.árcucc .price-value .mennyiség{
    font-size: 80px;
    font-weight: 700;
    line-height: 80px;
    display: inline-block;
}
.árcucc .price-value .valami{
    font-size: 25px;
    font-weight: 400;
    opacity: 0.8;
    display: block;
}
.árcucc .title{
    background: linear-gradient(to right, #A14566, #6C2652);
    font-size: 35px;
    font-weight: 600;
    text-transform: capitalize;
    letter-spacing: 1px;
    padding: 10px 20px;
    margin: -50px 0 35px;
    display: inline-block;
}
.árcucc .pricing-content{
    padding: 0 30px;
    margin: 0 0 25px;
    list-style: none;
}
.árcucc .pricing-content li{
    font-size: 17px;
    font-weight: 500;
    line-height: 20px;
    text-transform: capitalize;
    padding-bottom: 15px;
    margin: 0 0 15px;
    border-bottom: 2px solid #595959;
}
.árcucc .pricing-content li:last-child{
    margin: 0;
    border: none;
}
.árcucc .árcucc-signup a{
    color: #fff;
    background: linear-gradient(to right, #BF557B, #8B2D6A);
    font-size: 20px;
    font-weight: 600;
    text-transform: capitalize;
    padding: 13px 0;
    margin: 0 30px;
    display: block;
    position: relative;
    z-index: 1;
    transition: all 0.3s;
}
.árcucc .árcucc-signup a:before{
    content: '';
    background-color: #212121;
    position: absolute;
    left: 2px;
    right: 2px;
    top: 2px;
    bottom: 2px;
    z-index: -1;
    transition: all 0.3s ease 0s
}
.árcucc .árcucc-signup a:hover:before{ transform: scaleX(0); }
.árcucc .árcucc-signup a:hover{
    box-shadow: 0 0 10px #000;
}
.árcucc.green .árcucc-header,
.árcucc.green .árcucc-signup a{
    background: linear-gradient(to right, #6CB3A4, #498998);
}
.árcucc.green .title{
    background: linear-gradient(to right, #509288, #3E6B76);
}
.árcucc.golden .árcucc-header,
.árcucc.golden .árcucc-signup a{
    background: linear-gradient(to right, #E99B22, #D77C2B);
}
.árcucc.golden .title{
    background: linear-gradient(to right, #B98320, #AC6116);
}
@media only screen and (max-width: 990px){
    .árcucc{ margin-bottom: 40px; }
}

.card {
    border: 0px;
}
  .galeria{
      text-align: center;
      padding: 10px 0px;
      margin: 20px 0px;
  }

  .galeria_kep{
        width: 80%;
        border: 5px solid rgba(153, 166, 139, 1);
        transition: 1s;
  }

  .galeria_kep:hover{
      transform:scale(1.1);
      transition: .6s;
      cursor: pointer;
  }

  .galeria_kijovo{
      position: absolute !important;
      left: 0px;
      z-index: 1 !important;
      display: none;
  }

  .nemaktiv svg{
    color: rgba(102, 99, 91, .6);
  }
